<form
  action="/register"
  method="post"
  class="h-screen flex flex-col gap-3 max-w-xs mx-auto justify-center items-center"
>
  <h1 class="text-2x1 text-neutral-500 p-4">REGISTER</h1>
  <input
    name="name"
    type="text"
    placeholder="Name"
    class="input input-bordered input-accent w-full max-w-xs"
  />
  <input
    name="surname"
    type="text"
    placeholder="Surname"
    class="input input-bordered input-accent w-full max-w-xs"
  />
  <input
    name="UserName"
    type="text"
    placeholder="UserName"
    class="input input-bordered input-accent w-full max-w-xs"
  />
  <input
    name="password"
    type="password"
    placeholder="password"
    class="input input-bordered input-accent w-full max-w-xs"
  />
  <button class="btn btn-primary w-full">Register</button>
</form>